h1{
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    color: blueviolet;
}

#wordCount{
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    color: crimson;
}

#evaluatedText{
    margin-left: 38%;
}